<nav class="navbar">
    <div class="navbar-left" [class.hidden]="!isLoggedIn()">
        <div class="notification-icon">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M33 18H24L21 22.5H15L12 18H3M33 18V27C33 27.7956 32.6839 28.5587 32.1213 29.1213C31.5587 29.6839 30.7956 30 30 30H6C5.20435 30 4.44129 29.6839 3.87868 29.1213C3.31607 28.5587 3 27.7956 3 27V18M33 18L27.825 7.665C27.5766 7.16518 27.1938 6.74456 26.7194 6.45042C26.2451 6.15628 25.6981 6.0003 25.14 6H10.86C10.3019 6.0003 9.7549 6.15628 9.28057 6.45042C8.80624 6.74456 8.42337 7.16518 8.175 7.665L3 18" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="notification-badge" *ngIf="hasNotifications"></span>
        </div>
    </div>

    <div class="navbar-center">
        <a class="logo-container">
        <img src="images/logo.png" alt="Nuvola Logo" class="logo">
        </a>
    </div>

    <div class="navbar-right" *ngIf="isLoggedIn()">
        <a routerLink="/users" class="nav-link">Users</a>
        <a routerLink="/account-settings/{{username}}" class="nav-link">Account</a>
        <a (click)="onLogout()" class="nav-link">Log out</a>
    </div>
    <div class="navbar-right" *ngIf="!isLoggedIn()">
        <a routerLink="/login" class="nav-link">Log in</a>
        <a routerLink="/register" class="nav-link">Register</a>
    </div>
</nav>
