<div class="app-background">
  <main class="planner-wrapper">

    <!-- LEVO: forma -->
    <section class="auth-card">

      <div class="titles">
        <div class="welcome">Route Planner</div>
        <div class="subtitle">Enter departure and destination</div>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="submit()">

        <!-- Departure -->
        <div class="field">
          <label class="label">Departure Address</label>

          <div class="input-wrap">
            <span class="icon left">📍</span>
            <input
              class="input"
              type="text"
              formControlName="pickup"
              placeholder="e.g., Novi Sad"
            />
          </div>

          <div class="error" *ngIf="pickup.touched && pickup.invalid">
            <span *ngIf="pickup.errors?.['required']">Departure address is required.</span>
            <span *ngIf="pickup.errors?.['minlength']">Minimum 3 characters.</span>
          </div>
        </div>

        <!-- Destination -->
        <div class="field">
          <label class="label">Destination Address</label>

          <div class="input-wrap">
            <span class="icon left">📍</span>
            <input
              class="input"
              type="text"
              formControlName="destination"
              placeholder="e.g., Novi Sad"
            />
          </div>

          <div class="error" *ngIf="destination.touched && destination.invalid">
            <span *ngIf="destination.errors?.['required']">Destination address is required.</span>
            <span *ngIf="destination.errors?.['minlength']">Minimum 3 characters.</span>
          </div>
        </div>

        <button class="primary-btn" type="submit">Find Route</button>

        <!-- rezultat -->
        <div class="result" *ngIf="estimatedMinutes !== null">
          Estimated time: <b>{{ estimatedMinutes }} min</b>
        </div>

      </form>

    </section>

    <!-- DESNO: mapa -->
    <section class="map-card">
      <app-map (routeEstimated)="onRouteEstimated($event)"></app-map>
    </section>

  </main>
</div>
