<nav class="navbar">

  <div *ngIf="authService.isLoggedIn()" class="notification-icon icon-btn show-desktop" (click)="onInboxClick()">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path d="M33 18H24L21 22.5H15L12 18H3M33 18V27C33 27.7956 32.6839 28.5587 32.1213 29.1213C31.5587 29.6839 30.7956 30 30 30H6C5.20435 30 4.44129 29.6839 3.87868 29.1213C3.31607 28.5587 3 27.7956 3 27V18M33 18L27.825 7.665C27.5766 7.16518 27.1938 6.74456 26.7194 6.45042C26.2451 6.15628 25.6981 6.0003 25.14 6H10.86C10.3019 6.0003 9.7549 6.15628 9.28057 6.45042C8.80624 6.74456 8.42337 7.16518 8.175 7.665L3 18" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="notification-badge" *ngIf="authService.hasNotifications()"></span>
  </div>

  <button class="menu-btn show-mobile" (click)="toggleMenu()">
    ☰
  </button>

  <div class="logo">
    <img src="/logo.png" alt="Nuvola logo" />
  </div>

  <div class="nav-items show-desktop">
    <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onUsers()">Users</button>
    <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onRideHistory()">Ride history</button>
    <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onAccount()">Account</button>
    <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onLogout()">Log out</button>
    <button *ngIf="!authService.isLoggedIn()" class="nav-link" (click)="onLogin()">Log in</button>
    <button *ngIf="!authService.isLoggedIn()" class="nav-link" (click)="onRegister()">Register</button>
  </div>

</nav>

<div class="backdrop" *ngIf="menuOpen" (click)="toggleMenu()"></div>

<div class="mobile-menu show-mobile" *ngIf="menuOpen">

  <button class="menu-btn" (click)="toggleMenu()">☰</button>

  <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onInboxClick()">
    <div class="notification-icon">
      <svg width="30" height="30" viewBox="0 0 36 36" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path d="M33 18H24L21 22.5H15L12 18H3M33 18V27C33 27.7956 32.6839 28.5587 32.1213 29.1213C31.5587 29.6839 30.7956 30 30 30H6C5.20435 30 4.44129 29.6839 3.87868 29.1213C3.31607 28.5587 3 27.7956 3 27V18M33 18L27.825 7.665C27.5766 7.16518 27.1938 6.74456 26.7194 6.45042C26.2451 6.15628 25.6981 6.0003 25.14 6H10.86C10.3019 6.0003 9.7549 6.15628 9.28057 6.45042C8.80624 6.74456 8.42337 7.16518 8.175 7.665L3 18" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="notification-badge" *ngIf="authService.hasNotifications()"></span>
    </div>
    Inbox
  </button>

  <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onUsers()">
    Users
  </button>

  <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onRideHistory()">
    Ride history
  </button>

  <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onAccount()">
    Account
  </button>

  <button *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onLogout()">
    Log out
  </button>

  <button *ngIf="!authService.isLoggedIn()" class="nav-link" (click)="onLogin()">
    Log in
  </button>
  <button *ngIf="!authService.isLoggedIn()" class="nav-link" (click)="onRegister()">
    Register
  </button>

</div>
