#map {
  width: 100%;
  height: 470px;
  border-radius: 14px;
}

.eta {
  margin-top: 10px;
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 500;
}

.eta-card {
  margin: 12px auto 0 auto;  
  padding: 12px 16px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
  width: fit-content;
  font-family: inherit;
}


.eta-title {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
}

.eta-value {
  font-size: 16px;
  font-weight: 600;
  color: #0A1128;
}

.stop-number-icon {
  background: transparent;
  border: none;
}

.stop-badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #0A1128;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  border: 2px solid white;
}
