
<div class="app-background">
  

  <main class="auth-wrapper">
    <section class="auth-card">
      <div class="titles">
        <div class="welcome">Restart Password</div>
        <div class="subtitle">Enter your email</div>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="field">
          <label class="label">Email Address</label>
          <div class="input-wrap">
            <span class="icon left">✉️</span>
            <input
              class="input"
              type="email"
              placeholder="Enter your email"
              formControlName="email"
            />
          </div>

          <div class="error" *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors?.['required']">Email is required.</span>
            <span *ngIf="email.errors?.['email']">Enter a valid email.</span>
          </div>
        </div>

        <button class="primary-btn" type="submit">Send reset link</button>

        <div class="bottom">
          <a class="link" [routerLink]="['/login']">Back to Login</a>
        </div>

        <div class="success" *ngIf="sent">
          We sent a reset link (UI simulation).
        </div>
      </form>
    </section>
  </main>
</div>
