/* You can add global styles to this file, and also import other style files */
body {
    margin: 109px 0 0 0;
    padding: 0;
    background-color: #E9E9E9;

}

@media (max-width: 768px) {
    body {
        margin: 72px 0 0 0;
    }
}



/* html, body {
	height: 100%;
	margin: 0;
*/

/* img {
	max-width: 100%;
	height: auto;
	display: block;
} */

/* Utility helpers */
.full-width { width: 100%; }
.full-viewport-width { width: 100vw; }
.full-height { height: 100vh; }
