<div class="app-background">
  <main class="auth-wrapper">
    <section class="auth-card">

      <div class="titles">
        <div class="welcome">Security</div>
        <div class="subtitle">Change your password</div>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="submit()">

        <!-- Current password -->
        <div class="field">
          <label class="label">Current Password</label>

          <div class="input-wrap">
            <span class="icon left">🔒</span>

            <input
              class="input"
              [type]="hide0 ? 'password' : 'text'"
              formControlName="currentPassword"
              placeholder="********"
            />

            <button type="button" class="icon-btn right" (click)="hide0 = !hide0">
              {{ hide0 ? '👁️' : '🙈' }}
            </button>
          </div>

          <div class="error" *ngIf="currentPassword.touched && currentPassword.invalid">
            Current password is required.
          </div>
        </div>

        <!-- New password -->
        <div class="field">
          <label class="label">New Password</label>

          <div class="input-wrap">
            <span class="icon left">🔒</span>

            <input
              class="input"
              [type]="hide1 ? 'password' : 'text'"
              formControlName="newPassword"
              placeholder="********"
            />

            <button type="button" class="icon-btn right" (click)="hide1 = !hide1">
              {{ hide1 ? '👁️' : '🙈' }}
            </button>
          </div>

          <div class="error" *ngIf="newPassword.touched && newPassword.invalid">
            <span *ngIf="newPassword.errors?.['required']">Password is required.</span>
            <span *ngIf="newPassword.errors?.['minlength']">Min 6 characters.</span>
          </div>
        </div>

        <!-- Confirm -->
        <div class="field">
          <label class="label">Confirm New Password</label>

          <div class="input-wrap">
            <span class="icon left">🔒</span>

            <input
              class="input"
              [type]="hide2 ? 'password' : 'text'"
              formControlName="confirmNewPassword"
              placeholder="********"
            />

            <button type="button" class="icon-btn right" (click)="hide2 = !hide2">
              {{ hide2 ? '👁️' : '🙈' }}
            </button>
          </div>

          <div class="error" *ngIf="mismatch">
            Passwords do not match.
          </div>
        </div>

        <button class="primary-btn" type="submit">
          Change password
        </button>

        <div class="success" *ngIf="done">
          Password successfully changed.
        </div>

      </form>
    </section>
  </main>
</div>
