.user-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 14px;
  margin-top: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.blocked-card {
  background: #f1f1f1;
  border-left: 6px solid #b0b0b0;
}

.blocked-label {
  font-size: 12px;
  font-weight: 600;
  color: #b71c1c;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-info {
  flex: 1;
}

.block-btn {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.unblock-btn {
  background: #9e9e9e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.unblock-btn:hover {
  background: #7e7e7e;
}


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(10, 17, 40, 0.55); 
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 450px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.15);
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0A1128;
}

.modal textarea {
  width: 100%;
  height: 110px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 14px;
  transition: 0.2s;
}

.modal textarea:focus {
  outline: none;
  border-color: #0A1128;
  box-shadow: 0 0 0 2px rgba(10,17,40,0.1);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 25px;
}

.cancel {
  background: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.cancel:hover {
  background: #d5d5d5;
}

.confirm {
  background: #0A1128;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.confirm:hover {
  background: #16204a;
}
